*{margin:0;
padding:0;
}
.h2 {
    color: forestgreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*estilo de página para h2*/
div p {
    display: table-cell;
    vertical-align: middle;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    color: blueviolet;
}
/*estilo para "me encanta"*/
header { 
    background-color: yellow;
    width: 100%; height: auto;
}
footer {
    background-color: aquamarine;
    width: 100%; height: auto;
}
/*barra pie de página*/   
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contenedor1 {
    display: grid;
    grid-template-columns: 300px 1fr 300px;
}
/*estilos de media  query*/
.media {
    column-gap: 10%;
    row-gap: 10%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: blue;
    display: grid;
    width: 980px;
    margin: 0 auto;
    margin-top: 40px;
}
.caja1 { 
    background-color: green;
}
.caja2 { 
    background-color: aquamarine;
}
.caja3 { 
    background-color: brown;
}
.caja4 { 
    background-color: coral;
}
.caja5 { 
    background-color: darkgreen;
}
.caja6 { 
    background-color: fuchsia;
}
.caja7 { 
    background-color: grey;
}
.caja8 { 
    background-color: hotpink;
}
.caja9 { 
    background-color: lightblue;
}
@media only screen and (min-width: 320px) and (max-width: 576px) {
    .media {
        background-color: yellow;
        width: 100%;
        padding-left: 23px;
        flex-direction: column;
    }
    .caja { 
        
        width: 100%;
    }
}            
